---
feature_name: REPLACE_ME
chrome_version: REPLACE_ME
feature_id: REPLACE_ME
local_css_files: ['optional_relative_path.css', 'anotheroptional_relative_path.css']
local_js_files: ['optional_relative_path.js', 'anotheroptional_relative_path.js']
additional_head_content: <meta name="optional" value="optional">
---

<h3>背景</h3>
<p>背景信息到这里.</p>
<p>这里的任何内容，一个捕获块外，包括逐字在结果页.</p>

{% capture initial_output_content %}
<p>该可选捕获/包括可用于设置初始样本输出.</p>
{% endcapture %}
{% include output_helper.html initial_output_content=initial_output_content %}

/*
  使用此可选包括，显示了该功能的功能的任何JavaScript.
  不要用环绕它 &lt;script&gt; tags.
  如果output_helper.html包含此页面，然后在 ChromeSamples.log(),
  ChromeSamples.clearLog(), ChromeSamples.setStatus(), 和 ChromeSamples.setContent() 可以使用.
*/
{% include js_snippet.html filename='demo.js' %}

{% capture css %}
/* 使用此可选的捕获/包括CSS，显示了该功能的功能. */
{% endcapture %}
{% include css_snippet.html css=css %}
